<!-- <div class="navbar-boards">
  <div class="navbar-left-side">
    <a href="https://github.com/" target="_blank" class="navbar-icon">
      GITHUB
    </a>
    <p>2023</p>
    <a href="https://rs.school/angular/" target="_blank" class="navbar-icon navbar-boards-icon">
      <img src="/assets/rs_school_js.svg" alt="">
    </a>
  </div>
</div> -->
<div class="footer">
  <div class="footer-flex">
    <a href="https://github.com/" target="_blank">
      GITHUB
    </a>
    <p>2023</p>
    <a href="https://rs.school/angular/" target="_blank">
      <img src="/assets/rs_school_js.svg" alt="" class="footer-icon">
    </a>
  </div>
</div>