<div class="login-page">
  <a [routerLink]="'/'">
    <img src="/assets/pms-logo.svg" class="pms-main-logo" alt="">
  </a>
  <div class="form-container">
    <div class="login-header">Login to PMS</div>
    <div class="errors" *ngIf="errorMessage">{{ errorMessage }}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Login" class="login-input" formControlName="login">
      <input type="password" placeholder="Password" class="login-input" formControlName="password">
      <button type="submit" class="login-submit-button">Sig in</button>
    </form>
    <div class="bottom-form-links">
      <a [routerLink]="'/regiter'" class="register-link">Sign up for an account</a>
    </div>
  </div>
</div>
